@using NFZ.Entities
@model List<Document>
@{
    ViewData["Title"] = "Documents Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1 style="text-align:center; font-size:3vw">FAKTURY</h1>
    <table class="orders_table table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="10%">
                    Numer
                </th>
                <th width="40%">
                    Nazwa/Imie
                </th>
                <th width="15%">
                    Cena
                </th>
                <th width="20%">
                    Data
                </th>
                <th width="15%">
                    Szczegóły
                </th>
            </tr>
        </thead>
        <tbody class="orders_table">
            @foreach (var obj in Model)
            {
                @if (obj.GetType() == typeof(Invoice))
                {
                    <tr>
                        <td width="10%">
                            @obj.Number
                        </td>
                        <td width="40%">
                            @obj.ClientName
                        </td>
                        <td width="15%">
                            @obj.Price
                        </td>
                        <td width="20%">
                            @obj.Date
                        </td>
                        <td width="15%">
                            <a href='@Url.Action("InvoiceDetail", "Document", new {Number = obj.Number})'><button class="paragon" type="button">Szczegóły</button></a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
     <a href='@Url.Action("StartInvoice", "Document")'><button class="paragon" type="button">Szczegóły</button></a>
    <h1 style="text-align:center; font-size:3vw">PARAGONY</h1>
    <table class="orders_table table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="10%">
                    Numer
                </th>
                <th width="40%">
                    Nazwa/Imie
                </th>
                <th width="15%">
                    Cena
                </th>
                <th width="20%">
                    Data
                </th>
                <th width="15%">
                    Szczegóły
                </th>
            </tr>
        </thead>
        <tbody class="orders_table">
            @foreach (var obj in Model)
            {
                @if (obj.GetType() == typeof(Receipt))
                {
                    <tr>
                         <td width="10%">
                            @obj.Number
                        </td>
                        <td width="40%">
                            @obj.ClientName
                        </td>
                        <td width="15%">
                            @obj.Price
                        </td>
                        <td width="20%">
                            @obj.Date
                        </td>
                        <td width="15%">
                            <a href='@Url.Action("ReceiptDetail", "Document", new {number = obj.Number})'><button class="paragon" type="button">Szczegóły</button></a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</body>
