@using NFZ.Entities
@model List<OrderModel>
@{
    ViewData["Title"] = "Orders Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1 style="text-align:center; font-size:3vw">ORDERS</h1>
<table class="orders_table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Nr zamówienia
            </th>
            <th>
                Klient
            </th>
            <th>
                Cena
            </th>
            <th>
                Data wystawienia
            </th>
            <th>
                Dokument
            </th>
        </tr>
    </thead>
    <tbody class="orders_table">
        @foreach (var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.Id
                </td>
                <td width="45%">
                    @obj.ClientName
                </td>
                <td width="10%">
                    @obj.Price
                </td>
                <td width="10%">
                    Data wystawienia
                </td>
                <td width="15%">
                    <a href='@Url.Action("Receipt", "Document", obj)'><button class="paragon" type="button">Paragon</button></a> 
                    <a href='@Url.Action("Invoice", "Document", obj)'><button class="faktura" type="button"> Faktura</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
