@model DocumentModel

@{
    ViewData["Title"] = "Orders Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1>Receipt</h1>
    <div class="boxParagon">
        <h2 style="margin-left:45%">NFZ</h2>       
            <sector class="nabywca_sprzedawca">
                <div>
                    Sprzedawca<br/>
                    NIP: PL 1234567890<br/>
                    ul. Augustowska 77/13<br/>
                    16-310 Sztabin
                </div> 
                <div>
                    Nr:@Model.Number<br/>   
                    Data:(data wystawienia)<br/>
                    (dodatkowe informacje)
                </div>
            </sector><br/>
        <div class="line"></div> 
        <table class="produkty_faktura" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Lp
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        VAT
                    </th>
                    <th>
                        Ilość
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Products)
                {
                <tr>
                    <td width="5%">
                        Lp
                    </td>
                    <td width="30%">
                        @obj.Name
                    </td>
                    <td width="15%">
                        @obj.Price
                    </td>
                    <td width="15%">
                        @obj.Vat
                    </td>
                    <td width="10%">
                        @obj.Count
                    </td>
                    <td width="25%">
                        <button class="usun_produkt" type="button">Usuń produkt</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button class="dodaj_produkt" type="button">Dodaj produkt</button>
        <a href='@Url.Action("SaveReceipt", "Document", Model)'><button class="paragon" type="button">Dodaj Paragon</button></a> 
    </div>
</body>