@model DocumentModel

@{
    ViewData["Title"] = "Paragon Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h1 style="text-align:center; font-size:3vw">PARAGON</h1>
    <div class="boxParagon">
        <h2 style="margin-left:45%">NFZ</h2>       
            <sector class="nabywca_sprzedawca">
                <div>
                    Sprzedawca<br/>
                    NIP: 666-666-666 <br/>
                    PL 44 1234 5678 0000 1000 90<br/>
                    ul. Augustowska 77/13<br/>
                    16-310 Sztabin
                </div> 
                <div>
                    Nr:@Model.Number<br/>  
                    
                    Data:@Model.PaymentDate<br />
                </div>
            </sector><br/>
        <div class="line"></div> 
        <table class="produkty_faktura" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Lp
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        VAT
                    </th>
                    <th>
                        Ilość
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Products)
                {
                <tr>
                    <td width="5%">
                        Lp
                    </td>
                    <td width="30%">
                        @obj.Name
                    </td>
                    <td width="15%">
                        @obj.Price
                    </td>
                    <td width="15%">
                        @obj.Vat
                    </td>
                    <td width="10%">
                        @Model.ProductCounts[Model.Products.IndexOf(obj)]
                    </td>
                    <td width="25%">
                        <a href='@Url.Action("DeleteProduct", "Document", new {model = Model, id = obj.Id})'>
                       <button class="usun_produkt" type="button">Usuń produkt</button></a> <br />
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @if (!Model.isSelect)
        {
            <a href='@Url.Action("ShowDocumentList", "Document", Model)'>
                <button class="dodaj_produkt" type="button">Dodaj produkt</button>
            </a> <br />
        }
        else
        {
            <select asp-items="Model.selectLists" asp-for="SelectName">Produkty</select>
            <form class="registerBox" method="post" action="@Url.Action("AddProductFromListDocument", "Document", Model)">
                <tr>
                    <div class="registerLabel">Nazwa produktu</div>
                    <td><input class="registerInputBox" name="SelectName"></td>
                    <td></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td><input class="registerButton" type="submit" value="Dodaj Produkt"></td>
                </tr>
            </form>
        }
        <a href='@Url.Action("SaveReceipt", "Document", Model)'><button class="paragon" style="margin-left:10px;margin-top:2px;" type="button">Dodaj Paragon</button></a> 
    </div>
</body>